<h1>Searching drug</h1>
<%= form_tag("searchresult", method: "get")  do %>
  <%= label_tag( :name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag( :distance, "Radius km:") %>
  <%= text_field_tag(:distance) %>
  <%= submit_tag("Searche") %>
<% end %>