<h1>Listing drugs</h1>

<table>
  <thead>
    <tr>
      <th>Drug name</th>
      <th>Price</th>
      <th>Store_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.drug_name %></td>
        <td><strong><%= number_to_currency(drug.price) %></strong></td>
        <td><%= drug.store_id %></td>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

