<div class="center hero-unit">
  <h1>Available drugs near you</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Drug name</th>
        <th>Price</th>
        <th>Store_id</th>
        <th>Distance </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @drugs.each do |drug| %>
        <tr>
          <td><%= drug.drug_name %></td>
          <td><strong><%= number_to_currency(drug.price) %></strong></td>
          <td><%= drug.store_id %></td>
          <td><%= '%.2f' % ((distance  [@user.latitude,@user.longitude],[Store.where(:id => drug.store_id).first.latitude,Store.where(:id => drug.store_id).first.longitude] )/1000)%> km</td>
          <td></td>
          <td><%= link_to 'Show', drug %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>