<p id="notice"><%= notice %></p>

<p>
  <strong>Drug name:</strong>
  <%= @drug.drug_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drug.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @drug.available %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
