<%= form_for(@search_line) do |f| %>
  <% if @search_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_line.errors.count, "error") %> prohibited this search_line from being saved:</h2>

      <ul>
      <% @search_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
